*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin

*.mtl
*.classpath
*.project
/.gradle
/.settings
/output

/Foods/.gradle
/Foods/.settings
/Foods/bin
/Foods/build

/Machines/.gradle
/Machines/.settings
/Machines/bin
/Machines/build